<%-include('../Includes/Header.ejs')%>

    </head>
    <body>
        <%-include('../Includes/Navbar.ejs')%>
        <div class="errorDiv">
        <h1>An error Occurred!</h1><br>
        <h3>Cannot find the path: <i>localhost:1000<%=url%></i></h3><br>
        <h6>Please recheck once or click here to go<a href="/">Home Page</a></h6>

        </div>



        <%-include('../Includes/Footer.ejs')%>